@{
    ViewData["Title"] = "Home Page";
}
@model TodoApi.Models.Application





<h2>Olete jõudnud kasutajatoe keskkonda!</h2>
<a asp-controller="Home" asp-action="ComplaintApplication">Vajuta siia, et esitada pöördumine.</a>
<br>
<a asp-controller="Home" asp-action="ComplaintData">Vajuta siia, et vaadata kõiki pöördumisi.</a>
